.nextra-container {
  @apply mx-auto max-w-[90rem] pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-right),1.5rem)];
}

/* Rounded corners of <Tweet> component */
.twitter-tweet-rendered {
  @apply overflow-hidden rounded-xl;
}

/* Remove autocomplete color in Chrome */
input:-webkit-autofill {
  -webkit-transition:
    color 9999s ease-out,
    background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}
