node_modules/
.DS_Store
.idea/
*.log

dist/
out/
.next/
website/public/_redirects
website/public/robots.txt
website/public/sitemap-0.xml
website/public/sitemap.xml
website/.env

*.tsbuildinfo
.eslintcache
eslint_report.json

.wrangler
.mise.toml