dist/
.next/
pnpm-lock.yaml
.husky/_/
out/

# report about this bug in prettier
website/app/blog/react-dom-event-handling-system/page.mdx
website/app/blog/graphqxl-language/page.mdx
website/app/blog/graphql-eslint-3.14/page.mdx

.wrangler
eslint_report.json
