dist/
.next/
pnpm-lock.yaml
.husky/_/

website/pages/blog/tag/\[tag\].mdx
website/pages/blog.mdx
website/pages/services.mdx
website/out/

website/pages/blog/graphqxl-language.mdx
website/pages/blog/graphql-eslint-3.14.mdx
website/pages/blog/nextra-2.mdx
