dist/
.next/
pnpm-lock.yaml
.husky/_/
out/

# report about this bug in prettier
website/app/blog/(2018)/react-dom-event-handling-system/page.mdx
website/app/blog/(2022)/graphqxl-language/page.mdx
website/app/blog/(2022)/graphql-eslint-3.14/page.mdx

.wrangler
eslint_report.json
