/* Remove this file once The Guild Blog will be migrated to Nextra 4 */

.nextra-steps {
  h2,
  h4,
  h5,
  h6 {
    counter-increment: var(--counter-id);
    /* resets from nextra-theme-docs */
    @apply mt-8 border-0 pb-0 text-2xl font-semibold tracking-tight;

    &:before {
      @apply absolute size-[33px];
      @apply border-4 border-[rgb(var(--nextra-bg))] bg-gray-100 dark:bg-neutral-800;
      @apply rounded-full text-center -indent-px text-base font-normal text-neutral-400;
      @apply ms-[-41px] mt-[3px];
      content: counter(var(--counter-id));
    }
  }
}
