name: vale
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: errata-ai/vale-action@reviewdog
      with:
        files: website/pages
        diff_context: 10
        fail_on_error: true
